// https://drive.google.com/file/d/1s18lrc-sOkTqLNwiOhxTn2lzgbneQeml/view
@import 'variables.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    div.container {
        margin: 0 10rem;
    }
}
header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    margin-top: 2rem;
    h1 {
        font-family: 'Arial Narrow Bold', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        box-shadow: 0px 180px $bg-primary;
    }
    nav {
        a {
            color: #000000;
            font-size: 1.1rem;
            padding: 0 1rem;
            text-decoration: none;
        }
    }
}

main {
    align-items: center;
    display: flex;
    width: 100%;
    div.leftContainer {
        width: 50vw;
        div.leftShadow {
            h2 {
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-size: 4.5rem;
                letter-spacing: 10px;
                line-height: 80px;
                margin: 0.5rem 0;
            }
        }
        p {
            color: $color-primary;
            line-height: 2rem;
            padding: 2rem 0;
        }
        button {
            background-color: $bg-primary;
            border: 1px dotted #000000;
            border-radius: 5px;
            font-size: 1.2rem;
            padding: 1rem 2rem;
            cursor: pointer;
        }
    }
    div.rightContainer {
        display: flex;
        width: 50vw;
        img {
            height: 35rem;
        }
    }
}

section {
    display: flex;
    justify-content: space-between;
    div.card {
        padding: 1rem 0;
        div.circle {
            background-color: #ffffff;
            border: 1px solid #000000;
            border-radius: 50%;
            box-shadow: -5px 0px $bg-primary;
            display: inline-block;
            margin: 0.5rem -1rem;
            padding: 1rem;
            p {
                height: 1.2rem;
                text-align: center;
                width: 1.2rem;
                box-shadow: 0px 60px $bg-primary;
            }
        }
        h2.tituloCircle {
            margin: 1rem 0 0.5rem;
        }
        p.textCircle {
            width: 20vw;
        }
    }
}

footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10rem 0 2rem;
    div.sociales {
        display: flex;
        div.redes {
            background-color: #ffffff;
            border-radius: 50%;
            box-shadow: -5px 0px $bg-primary;
            margin: 0 1rem;
            padding: 1rem;
        }
        img {
            height: 1.2rem;
            width: 1.2rem;
            cursor: pointer;
        }
    }
}
